@import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,700,700i&display=swap&subset=latin-ext');
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

* {
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #333;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

:root {
  --bg-color: #fdfdfd;
  --text-color: #191919;
  --secondary-text-color: #434343;
  --accent-bg-color: #123456;
  --accent-bg-hover-color: #1f5892;
  --accent-text-color: #fdfdfd;
}

* {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

#page {
  background-color: var(--bg-color);
  display: block;
  height: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}
